@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding font faces that are already bold
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h1 { font-size: 2em;    margin: .67em 0;  }
h2 { font-size: 1.5em;  margin: .83em 0;  }
h3 { font-size: 1.17em; margin: 1em 0;    }
h4 { font-size: 1em;    margin: 1.33em 0; }
h5 { font-size: .83em;  line-height: 1.17em; margin: 1.67em 0; }
h6 { font-size: .67em;  margin: 2.33em 0; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.center {
  text-align: center;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

html {
  height: 100%;
}

body {
  height: 100%;

  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

#container {
  min-height: 100%;
  padding: 0 30px;
  @include linear-gradient(color-stops($header-bg-color, $footer-bg-color));

}

header {
  height: 130px;
  margin-bottom: 30px;
  color: $header-font-color;
  background-color: $header-bg-color;

  #logo {
    padding-top: 15px;
    font-weight: bold;
    font-size: 2.5em;
    a {
      text-decoration: none;
      color: $header-font-color;
    }
  }

  #user_nav {
    float: right;
    height: 40px;
    margin-top: 30px;
    padding-right: 20px;
    text-align: right;
    color: white;
    a {
      color: $light-blue;
    }
  }
}

$main-padding: 20px;
$footer-height: 20px;
$footer-padding: 5px;
$total-footer-height: $footer-height + $footer-padding * 2;

#main {
  min-height: 400px;
  background-color: $main-bg-color;
  padding: $main-padding $main-padding ($main-padding + $total-footer-height) $main-padding;
}

nav {
  margin-top: 10px;
  width: 100%;

  ul {
    float: left;
    position: relative; /* So subtabs can position relative to this */
    height: 30px;
    margin: 0;
    width: 100%;
    background-color: $header-bg-color;
    @include border-right-radius(5px);
  }

  li {
    display: block;
    float: left;
    height: 30px;
    margin-right: 5px;

    @include border-top-radius(5px);
    background-color: $tab-inactive-color;

    &.selected {
      background-color: $tab-active-color;
      &:hover {
        background-color: $tab-active-color;
      }
    }

    &:hover {
      background-color: $tab-hover-color;
    }

    a {
      padding: 10px 20px;
      line-height: 30px;
      text-decoration: none;
      &:hover {
        color: $link-color;
      }
    }
  }

  /*
   * The selected tab and its subtabs are styled differently, including during hover.
   *
   */

  li > ul {
    /* Line all subtabs up under top level tabs */
    position: absolute;
    top: 30px;
    left: 0;
     /* Hide all subtabs by default */
    display: none;
  }

  /*
   * Style for hovering over inactive tabs and subtabs:
   *
   *   - convert tab and entire subtab bar to hover color
   *   - hovering over subtabs changes it to active color
   */

  li:hover ul {
    /* When hovering over any top-level tab, show it's subtabs, covering any other displayed subtabs */
    display: block;
    z-index: 6000;
    background-color: $tab-hover-color;
  }

  li > ul > li {
    /* Don't round subtab corners */
    @include border-radius(0);
    margin: 0;
    background-color: $tab-hover-color;

    &:hover {
      background-color: $tab-active-color;
    }
  }

  /*
   * Style for active tabs and subtabs:
   *
   *   - always show subtabs for currently selected top level tab, colored as active
   *   - hovering over subtabs changes them to hover color
   */

  li.selected ul {
    display: block;
    background-color: $tab-active-color;
  }

  li.selected > ul > li {
    background-color: $tab-active-color;
    &.selected {
      font-weight: bold;
    }
    &:hover {
      background-color: $tab-hover-color;
    }
  }
}

footer {
  height: $footer-height;
  padding: $footer-padding;
  margin-top: -1 * $total-footer-height;

  background-color: $footer-bg-color;

  text-align: center;
}
